.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
   div.desc {
    padding: 35px;
    text-align: center;
}

.limited-text {
  white-space: nowrap;
    width: 550px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
 }


